@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --btn1: #b47ebe;
  --startedBtn: #ffe07a;
  --textColor: #707070;
  --textFontsize: 23px;
}

body {
  background-color: #242427;
  height: 2700px;
}
body .btn1 {
  border: none;
  font-size: 14px;
  padding: 7px 40px;
  border-radius: 10px;
  cursor: pointer;
}
body .btn2 {
  border: none;
  font-size: 14px;
  padding: 7px 22px;
  border-radius: 10px;
  cursor: pointer;
}
body header {
  display: flex;
  justify-content: space-between;
  padding: 1% 3%;
}
body header .logo {
  color: white;
  font-size: 25px;
}
body header .btn1:nth-child(1) {
  background-color: #242427;
  color: white;
}
body header .btn1:nth-child(2) {
  background-color: var(--btn1);
}
body header .btn:hover {
  cursor: pointer;
}
body .container {
  display: flex;
  justify-content: space-around;
  margin: 4%;
}
body .container .textContainer {
  padding: 5%;
  padding-left: 0;
  width: 42%;
  border-radius: 20px;
}
body .container .textContainer h1 {
  color: white;
  font-size: 65px;
  padding-right: 40px;
}
body .container .textContainer p {
  margin: 12% 0;
  color: var(--textColor);
  font-size: var(--textFontsize);
  padding-right: 150px;
}
body .container .textContainer .btn2 {
  margin-top: 9%;
  background-color: var(--startedBtn);
}
body .container .imgContainer {
  background-color: #35353d;
  width: 42%;
  border-radius: 20px;
}
body .logos {
  width: 84%;
  margin: auto;
  border-top: #35353d 3px solid;
  border-bottom: #35353d 3px solid;
  padding: 3.5% 8% 3.5% 8%;
}
body .justImg {
  display: flex;
  background-color: #FDF5DF;
  width: 80%;
  border-radius: 30px;
  margin: 5% auto 10%;
  padding: 5% 0 0 0;
}
body .iconDiv {
  display: flex;
  justify-content: space-between;
  width: 76%;
  height: 340px;
  margin: auto;
}
body .iconDiv .cardDiv {
  width: 35%;
  height: 100%;
  text-align: center;
  justify-content: space-around;
}
body .iconDiv .cardDiv .icon1 {
  margin: 15% 0 6%;
}
body .iconDiv .cardDiv .icon1 img {
  width: 70px;
  height: 70px;
  left: 120px;
  gap: 0px;
  opacity: 0px;
}
body .iconDiv .cardDiv .cardHeader {
  color: white;
  width: 100%;
  margin: auto;
  font-weight: bold;
  font-size: var(--font-size);
  margin-bottom: 2%;
}
body .iconDiv .cardDiv .text1 {
  color: var(--textColor);
  width: 50%;
  margin: auto;
  font-size: var(--textFontSize);
}
body .iconDiv .coinDiv {
  width: 35%;
  height: 100%;
  text-align: center;
  justify-content: space-around;
}
body .iconDiv .coinDiv .icon2 {
  margin: 15% 0 6%;
}
body .iconDiv .coinDiv .icon2 img {
  width: 70px;
  height: 70px;
  left: 120px;
  gap: 0px;
  opacity: 0px;
}
body .iconDiv .coinDiv .coinHeader {
  color: white;
  width: 100%;
  margin: auto;
  font-weight: bold;
  font-size: var(--font-size);
  margin-bottom: 2%;
}
body .iconDiv .coinDiv .text2 {
  color: var(--textColor);
  width: 50%;
  margin: auto;
  font-size: var(--textFontSize);
}
body .iconDiv .walletDiv {
  width: 35%;
  height: 100%;
  text-align: center;
  justify-content: space-around;
}
body .iconDiv .walletDiv .icon3 {
  margin: 15% 0 6%;
}
body .iconDiv .walletDiv .icon3 img {
  width: 70px;
  height: 70px;
  left: 120px;
  gap: 0px;
  opacity: 0px;
}
body .iconDiv .walletDiv .walletHeader {
  color: white;
  width: 100%;
  margin: auto;
  font-weight: bold;
  font-size: var(--font-size);
  margin-bottom: 2%;
}
body .iconDiv .walletDiv .text3 {
  color: var(--textColor);
  width: 50%;
  margin: auto;
  font-size: var(--textFontSize);
}/*# sourceMappingURL=main.css.map */