@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;

}

:root{
    --btn1: #b47ebe;
    --startedBtn: #ffe07a;
    --textColor: #707070;
    --textFontsize: 23px;
}

body{
    background-color: #242427;

    .btn1{
        border: none;
        font-size: 14px;
        padding: 7px 40px;
        border-radius: 10px;
        cursor: pointer;
    }
    .btn2{
        border: none;
        font-size: 14px;
        padding: 7px 22px;
        border-radius: 10px;
        cursor: pointer;
    }

header{
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;

    .logo{
        color: white;
        font-size: 25px;
    }
    .btn1:nth-child(1){
        background-color: #242427;
        color: white;
    }
    .btn1:nth-child(2){
        background-color: var(--btn1);
    }
    .btn:hover{
        cursor: pointer;
    }
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 4% ;
    .textContainer {
        padding: 5%;
        padding-left: 0;
        width: 42%;
        border-radius: 20px;
        h1{
            color: white;
            font-size: 65px;
            padding-right: 40px;
        }
        p{
            margin: 12% 0;
            color: var(--textColor);
            font-size: var(--textFontsize);
            padding-right: 150px;            
        }
        .btn2{
            margin-top: 9%;
            background-color: var(--startedBtn);
        }
    }
    .imgContainer {
        background-color: #35353d;
        width: 42%;
        border-radius: 20px;
    }   
}
.logos{
    width: 84%;
    margin: auto;
    border-top: #35353d 3px solid;
    border-bottom: #35353d 3px solid;
    padding: 3.5% 8% 3.5% 8%;
}

.justImg{
    display: flex;
    background-color: #FDF5DF;
    width: 80%;
    border-radius: 30px;
    margin: 5% auto 10%;
    padding: 5% 0 0 0;    
}

.iconDiv {
    display: flex;
    justify-content: space-between;
    width: 76%;
    height: 340px;
    margin: auto;

    .cardDiv {
        width: 35%;
        height: 100%;
        text-align: center;
        justify-content: space-around;
        .icon1{
            img{
                width: 70px;
                height: 70px;
                left: 120px;
                gap: 0px;
                opacity: 0px;
                }
            margin: 15% 0 6%;
        }
        .cardHeader{
            color: white;
            width: 100%;
            margin: auto;
            font-weight: bold;
            font-size: var(--font-size);
            margin-bottom: 2%;

        }
        .text1{
            color: var(--textColor);
            width: 50%;
            margin: auto;
            font-size: var(--textFontSize);
        }
    }
    .coinDiv {
        width: 35%;
        height: 100%;
        text-align: center;
        justify-content: space-around;
        .icon2{
            img{
                width: 70px;
                height: 70px;
                left: 120px;
                gap: 0px;
                opacity: 0px;
                }
            margin: 15% 0 6%;
        }
        .coinHeader{
            color: white;
            width: 100%;
            margin: auto;
            font-weight: bold;
            font-size: var(--font-size);
            margin-bottom: 2%;

        }
        .text2{
            color: var(--textColor);
            width: 50%;
            margin: auto;
            font-size: var(--textFontSize);
        }
    }
    .walletDiv {
        width: 35%;
        height: 100%;
        text-align: center;
        justify-content: space-around;
        .icon3{
            img{
                width: 70px;
                height: 70px;
                left: 120px;
                gap: 0px;
                opacity: 0px;
                }
            margin: 15% 0 6%;
        }
        .walletHeader{
            color: white;
            width: 100%;
            margin: auto;
            font-weight: bold;
            font-size: var(--font-size);
            margin-bottom: 2%;

        }
        .text3{
            color: var(--textColor);
            width: 50%;
            margin: auto;
            font-size: var(--textFontSize);
        }
    }
}
height: 2700px;
}

